.App {
  text-align: center;
}

.logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 200px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App .content {
  display: flex;
}

.mdc-list {
  width: 30%;
}

.list-item {
  display: flex;
  flex-direction: column;
  width: auto;
  box-shadow: 2px 1px 6px rgba(0,0,0,0.3);
  background: white;
  padding: 15px;
  margin: 15px;
  position: relative;
  min-width: 170px;
}

i.far.fa-trash-alt {
  border: 1px solid black;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

i.far.fa-trash-alt:hover {
  background: #cccccc;
}

.mdc-list.mdc-layout-grid__cell {
  grid-column-end: span 5;
}

.adicionar-resul {
  text-align: right;
}

.imc-result {
  padding: 15px 0 15px 0;
  text-align: right;
  font-size: 22px;
}

.form.mdc-layout-grid__cell {
  padding-top: 20px;  
  margin-left: 10px;  
}

.form-item {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.form-item label {
  padding-right: 5px;
}

.form.mdc-layout-grid__cell {
  width: 320px;
  grid-column-end: span 5;
}

.form.mdc-layout-grid__cell label {
  padding: 10px 10px 0 0;
  display: inline-block;
  width: 200px;
  text-align: left;
}

.form.mdc-layout-grid__cell input[type="number"] {
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 14px;
}

.creation-date {
  color: #8e8c8c;
  font-size: 12px;
}

.item-info {
  text-align: left;
  font-size: 14px;
  color: #383737;
  margin: 5px 0;
}